<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ // Copyright (c) 2021 NetEase, Inc.  All rights reserved.
  ~ // Use of this source code is governed by a MIT license that can be found in the LICENSE file.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.netease.biz_live">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name=".yunxin.live.audience.utils.DialogHelperActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/TransparentBgTheme"/>
        <activity
            android:name=".yunxin.live.audience.ui.LiveAudienceActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".yunxin.live.ui.LiveListActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".yunxin.live.ui.InteractionLiveActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>