<?xml version="1.0" encoding="utf-8"?>
<!--
  ~  Copyright (c) 2021 NetEase, Inc.  All rights reserved.
  ~  Use of this source code is governed by a MIT license that can be found in the LICENSE file
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.netease.biz_live">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <!--屏保解锁，亮屏后应用可打开屏保-->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!--电源锁，应用在熄屏的时候持有，可保持cpu继续运转-->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <application>
        <activity android:name=".yunxin.live.audience.utils.DialogHelperActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/TransparentBgTheme"/>
        <activity
            android:name=".yunxin.live.audience.ui.LiveAudienceActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".yunxin.live.ui.LiveListActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".yunxin.live.anchor.ui.AnchorPkLiveActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".yunxin.live.anchor.ui.AnchorSeatLiveActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>