{
    "im": {
        "appkey": "b660dffe303b7c0a2fffb8db7788fc14",
      	"module": "00e3afe7487e6ac9ba69654672672ceddc05d5b6d45850859f11004d30c63e3691afd55722bdd2c75232b2a3561776201f84def8e38c508870ca7692b4228b0478e104460d7800dee3b6c3d8f89746ed48ee94f268f42b9c911437083d3815624e50de3fec3c0ec8ab3e71d5bdce3f4291d20538893cacdc00da9d1390ee39440d",
      	"version": 0,
      	"lbs": "http://59.111.229.254/lbs/conf.jsp?version=1.0",
      	"link": "59.111.230.167:8000",
      	"nos_lbs": "https://wannos.127.net/lbs",
      	"nos_uploader": "https://nosup-hz1.127.net",
      	"nos_uploader_host": "nosup-hz1.127.net",
      	"https_enabled": true,
      	"nos_downloader": "{bucket}-nosdn.netease.im/{object}",
      	"nos_accelerate": "{bucket}-nosdn.netease.im/{object}",
      	"nos_accelerate_host": "nos.netease.com",
      	"chatroomDemoListUrl": "https://apptest.netease.im/api/chatroom/homeList"
    },
    "meeting": {
        "serverUrl": "https://yunxinent-demo.netease.im/meeting"
    },
    "roomkit": {
        "roomServer": "https://roomkit-dev.netease.im/perf/"
    },
    "rtc": {
        "lbsServer": "https://nertc-gateway-hz-perf.netease.im/api/v111111111/domains",
        "channelServer": "https://nertc-gateway-hz-perf.netease.im/nrtcproxy/nrtc/getChannelInfos.action",
        "statisticsServer": "https://statistic.live.126.net/statics/report/common/form",
        "roomServer": "https://call-perf-hz.netease.im/v2/sdk/rooms",
        "compatServer": "https://imperf.netease.im/lbs/cc/nrtc/v2",
        "nosLbsServer": "http://59.111.99.186:20080/lbs/noslbs.jsp",
        "nosUploadSever": "http://59.111.99.186:20080",
        "nosTokenServer": "http://59.111.99.186:20080/report/sdklog/getToken",
        "cloudProxyServer": "",
        "webSocketProxyServer": "",
        "quicProxyServer": "",
        "mediaProxyServer": "",
        "useIPv6": false
    },
    "whiteboard": {
        "webServer": "",
        "roomServer": "https://roomserver.netease.im/v1/g2/whiteboard/getChannelInfo",
        "sdkLogNosServer": "https://statistic.live.126.net/sdklog/getToken",
        "dataReportServer": "https://statistic.live.126.net/statics/report/common/form",
        "directNosServer": "https://wanproxy-web.127.net",
        "mediaUploadServer": "https://vcloud.163.com",
        "docTransServer": "https://vcloud.163.com",
        "fontDownloadServer": "https://wb.vod.126.net/courseware/pptview/fonts/"
    }
}